/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF;
}

.hidden {
    display: none;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#uploadProgress {
    margin-top: 10px;
}

progress {
    width: 100%;
    height: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-player {
    width: 100%;
    margin-top: 10px;
    background-color: #007BFF;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

#exploreSection {
    margin-top: 20px;
}

#userPlaylists {
    margin-top: 20px;
}

.user-playlist {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}

#logoutBtn {
    background-color: #dc3545;
    margin-bottom: 20px;
}
